/* Grundlegendes Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#todoÜberschrift {
    font-size: 2.5rem; /* Größe der Überschrift */
    text-align: center; /* Zentriert den Text */
    background: -webkit-linear-gradient(45deg, #420445fb, #0f0c89e5, #d5491ae1); /* Farbverlauf */
    -webkit-background-clip: text; /* Anwendung des Farbverlaufs auf den Text */
    color: transparent; /* Macht den Text transparent, sodass der Farbverlauf sichtbar wird */
    animation: hue 10s infinite linear; /* Animation für den "Atmungseffekt" */
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.501); /* Textschatten für einen leuchtenden Effekt */
}

/* Keyframes für die Animation */
@keyframes hue {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}



body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #e17453, #ab4c4c, #b3955e, #419884);
    background-size: 400% 400%;
    animation: gradientBackground 17s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Minimale Höhe des Viewports */
}

.app-container {
    width: 90vh; /* Breite des Hauptcontainers */
    max-width: 600vh; /* Maximale Breite */
    padding: 20px;
    margin: 10px;
    background-color: rgba(255,255,255, 0.31); /* Hintergrundfarbe des Containers */
    border-radius: 30px; /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten für Tiefe */
    min-height: 30vh;
}

h1 {
    color: #25254c;
    font-size: 3em;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

h1:hover {
    transform: scale(1.05);
}

.data-fetch-section

.input-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"], button {
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    font-size: 1em;
    outline: none;
}

input[type="text"] {
    background-color: #25254c;
    width: 82%;
    color: #dedede;
    box-shadow: none;
}

input[type="text"]:focus {
    background-color: #35358c;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

button {
    background-color: #25254c;
    color: #dededeec;
    padding: 15px 30px; /* Größeres Padding für größere Buttons */
    margin: 1px 0;
    border: none;
    border-radius: 50px; /* Größerer Radius für abgerundete Ecken */
    cursor: pointer;
    font-size: 1.4em; /* Größere Schriftgröße */
    align-content: center;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #35358c;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #eae5f990;
    margin: 10px 0;
    width: 98%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px; /* Hinzugefügt für Innenabstand */
    transition: background-color 0.3s;
}

.reset-button {
    background-color: #cc1111b1; /* Rote Farbe */
    color: #ffffff; /* Weiße Textfarbe für Kontrast */
    /* Weitere gewünschte Stile hinzufügen */
}

.reset-button:hover {
    background-color: #e60000e6; /* Dunklere rote Farbe beim Hover */
    /* Weitere Hover-Effekte hinzufügen */
}


.zeitstempel {
    margin-left: auto;
    padding-right: 20px;
}

button {
    padding: 12px 17px; /* Größere Schaltflächen */
    font-size: 0.8em; /* Kleinere Schriftgröße für die Schaltflächen */
}

.data-fetch-section {
    background-color: rgba(255, 255, 255, 0.141); /* Weiß mit Transparenz */
    border-radius: 15px; /* Abgerundete Ecken */
    padding: 20px; /* Innenabstand */
    margin-top: 20px; /* Abstand nach oben */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.465); /* Leichter Schatten für Tiefe */
}


.data-fetch-section #user {
    display: block; /* Elemente untereinander */
    width: 100%; /* Volle Breite innerhalb des Containers */
    margin-bottom: 10px; /* Abstand zwischen den Elementen */
}


.data-fetch-section #button {
    cursor: pointer; /* Mauszeiger als Hand-Symbol */
    background-color: #25254c; /* Blaue Farbe für den Button */
    color: rgba(255, 255, 255, 0.821); /* Weiße Textfarbe */
    border: none; /* Kein Rand */
    padding: 10px; /* Polsterung */
    border-radius: 30px; /* Abgerundete Ecken für den Button */
}

.data-fetch-section # result {
    background-color: #bbbbe6b7; /* Hintergrundfarbe für das Ergebnisfeld */
    width: 45%;
    margin-top: 8px;
    padding: 10px; /* Polsterung */
    height: 110px; /* Feste Höhe */
    overflow-y: auto; /* Automatisches Scrollen bei zu viel Inhalt */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.177); /* Leichter Schatten für Tiefe */
}

/* Stile für die Eingabefelder */
.data-fetch-section input[type="text"] {
    width: 45%; /* Reduziere die Breite der Eingabefelder */
    padding: 10px 15px; /* Reduziere das Padding innerhalb der Eingabefelder */
    font-size: 0.9em; /* Optional: Reduziere die Schriftgröße */
    /* ... weitere Stile ... */
}
