/* Grundlegendes Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #686890;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Minimale Höhe des Viewports */
}

.app-container {
    width: 150%; /* Breite des Hauptcontainers */
    max-width: 800px; /* Maximale Breite */
    padding: 20px;
    margin: 10px;
    background-color: (255,255,255, 1); /* Hintergrundfarbe des Containers */
    border-radius: 10px; /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten für Tiefe */
    min-height: 600px;
}

h1 {
    color: #25254c;
    font-size: 3em;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

h1:hover {
    transform: scale(1.05);
}

.input-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"], button {
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    font-size: 1em;
    outline: none;
}

input[type="text"] {
    background-color: #25254c;
    color: #dedede;
    width: calc(100% - 42px - 100px);
    box-shadow: none;
}

input[type="text"]:focus {
    background-color: #35358c;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

button {
    background-color: #25254c;
    color: #dedede;
    padding: 15px 30px; /* Größeres Padding für größere Buttons */
    margin: 1px 0;
    border: none;
    border-radius: 50px; /* Größerer Radius für abgerundete Ecken */
    cursor: pointer;
    font-size: 1.4em; /* Größere Schriftgröße */
    align-content: center;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #35358c;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #eae5f9;
    margin: 10px 0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px; /* Hinzugefügt für Innenabstand */
    transition: background-color 0.3s;
}

.zeitstempel {
    margin-left: auto;
    padding-right: 20px;
}

button {
    padding: 12px 17px; /* Größere Schaltflächen */
    font-size: 0.8em; /* Kleinere Schriftgröße für die Schaltflächen */
}
